# dependencies
node_modules/

# build
dist/
build/

# logs
logs/
*.log

# environment
.env
.env.local

# editor
.vscode/
.idea/

# operating system
.DS_Store
Thumbs.db

# prisma
prisma/dev.db

# uploads
uploads/

# coverage
coverage/

# cache
.cache/

# turbo
.turbo/

# pnpm
.pnpm-store/

# vite
.vite/